*{
    padding: 0px;
    margin:0px;
}
body{
    align-items:center;
    justify-content: center;
    background-color: rgb(217, 216, 220);
    background-color: rgb(236, 237, 249);
}
#portal{
    padding: 10px;
}
.model{
    display: none;
    position: fixed;
    z-index: 998;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(240, 248, 255);
    justify-content: center;
    align-items: center;
}
.model-content{
    background-color: #d9e2f4;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 10px 8px 2px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
}
.model-content input{
    display: block;
    width: 90%;
    margin:25px auto;
    border: none;
    padding: 15px;
    /* text-align: center; */
}
.model-content button{
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    background-color: rgb(3, 3, 32);
    color: whitesmoke;
    font-weight:500 ;
    cursor: pointer;
}
.head{
    width: 100%;
    height: 140px;
    background-color: rgb(6, 6, 48);
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.head h1{
    color: aliceblue;
    font-weight: 900;
    justify-self: center;
    position: absolute;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
    padding:10px;
}
#portal{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
#employeeData{
      
    background-color:rgb(231, 243, 253);
    width: 800px;
    margin-top: 130px;
    
    box-shadow: 10px 15px 18px rgba(0, 0, 0,0.2);
    color: rgb(24, 24, 52);
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 40px;
    padding-top: 60px;
    border-radius: 20px;
}
#logoutBtn{
    padding: 5px;
    height: 20px;
    width: 100px;
    background-color: red;
    text-align: center;
    justify-self: end;
    margin-top: 50px;
    border-radius: 4px;
    
}
a{
    text-decoration: none;
    color: rgb(224, 213, 212);
    font-weight: 600;
    font-size: 20px;
}
#employeeData p {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    padding: 15px 20px;
    margin-bottom: 35px;

    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);

    font-size: 24px;
}


#employeeData p strong {
    color: rgb(6, 6, 48);
    font-weight: 800;
    font-size: 27px;
}

/* Value (right side) */
#employeeData p span,
#employeeData p:not(:has(span)) {
    color: rgb(24, 24, 52);
}

